<div id="footer">
<section>Heladería Avellanas</section>

<footer class="footer-distributed">

	<div class="footer-left">
		<img class="logo-footer" src="./assets/images/logo.jpg" />

		<p class="footer-links">
			<a href="#" class="link-1">Inicio</a>

			<a [routerLink]="['/home/acerca-de']">Acerca de</a>

			<a [routerLink]="['/productos']">Productos</a>
		</p>

		<p class="footer-company-name">Heladería Avellanas | Copyright © 2022</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p>Costa Rica</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+506 2460-0000</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:avellanas@gmail.com">avellanas@gmail.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>Sobre nosotros</span>
			Somos una heladería dedicada a satisfacer el paladar de nuestros clientes por medio de una excelente calidad, gran nivel de servicio e innovación en cada uno de nuestros productos.
		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>

		</div>

	</div>

</footer>
</div>