body {
    margin: 0;
    margin-bottom: 5%;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    text-align: left;

}

.full-width-table {
    width: 100%;
  }

#header{
    background-image: url('/assets/images/1.png'); 
    height: 7%;
}

.display-3 {
    font-size: calc(0.3rem + 3.9vw);
    line-height: 1.2;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/images/header-mesas.webp), no-repeat center center;
    background-size: auto;
}

.title{
    text-align: center; 
    font-weight: 700; 
    font-size: calc(0.800rem + 1.5vw); 
    position: relative; color: #333333; 
    line-height: 1.2;
    margin-bottom: 3rem !important;
    margin-top: -6rem !important;
}

.font-weight-bold{
    font-weight: 700 !important;
}

.mb-3{
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem !important;
}

h5{
    font-weight: 500 !important;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 0;
}

.py-5{
    padding-bottom: 3rem !important; 
    padding-top: 3rem !important; 
    position: relative; 
    width:100%;
    padding-right: 15px; 
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pb-2, .py-2 {
    background-color: #F3F6FF;
    border-radius: 20px;
    padding: 1.0rem !important;
}


.mb-4{
    margin-bottom: 1.5rem !important;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    
}

.col-6, .col-lg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.product-item, .product-item h5 {
    transition: .5s;
}

.px-3 {
    padding-right: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
.rounded {
    border-radius: 5px !important;
}
.bg-light {
    background-color: #FFFFFF !important;
}

.mt-n3{
    margin-top: -1rem !important;
}

.mt-n5{
    margin-top: -3rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.py-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.mb-4{
    margin-bottom: 1.5rem !important;
}
.position-relative {
    position: relative !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-primary {
    background-color: #F195B2 !important;
}
.mat-primary {
    background-color: #3c788e;
}
