<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


  <!---fontawesome cdn---->
  <!--fontawesome-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;0,700;0,900;1,500;1,600;1,900&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&amp;display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&amp;display=swap"
    rel="stylesheet">

  <title>theme</title>
</head>

<body>
  <section class="main background-image">
    <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="carft">
              <span>Helados Artesanales</span>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                  <div class="slider_head">
                    <div class="slider_head1">
                      <p>Próximamente:</p>
                      <h1>Fresa,<span><br>vainilla y chocolate</span></h1>
                      <p>Cono de waffle crujiente con helado de vainilla, <br>fresa y chocolate. Agrégale tu extra preferido.</p>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-7 col-md-12 col-sm-12 hide">
                  <div class="image d-flex justify-content-start">
                    <img src="./assets/images/2.png" style="width: 80%;">
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

</body>

</html>