<body>
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
    </div>

    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Acerca de</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="/">Inicio</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Acerca de</p>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h1 class="title">Helados Artesanales &amp; Deliciosos</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 py-5" style="margin-top: 8%;">
                    <h4 class="font-weight-bold mb-3">Sobre nosotros:</h4>
                    <h5 class="text-muted mb-3">Heladería Avellanas</h5>
                    <p>Somos una heladería dedicada a satisfacer el paladar de nuestros clientes por medio de una
                        excelente calidad, gran nivel de servicio e innovación en cada uno de nuestros productos.</p>

                    <h4 class="font-weight-bold mb-3">Equipo de desarrollo:</h4>
                    <h5 class="text-muted mb-3"><i class="fa fa-circle px-2 circulo"></i>Sofía Rodríguez González.</h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-circle px-2 circulo"></i>Sol Arianna Esquivel Campos.
                    </h5>
                    <h5 class="text-muted mb-3"><i class="fa fa-circle px-2 circulo"></i>Katherine María Córdoba
                        Badilla.</h5>
                </div>

                <div class="col-lg-4" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100" src="./assets/images/about.jpg"
                            style="object-fit: cover;">
                    </div>
                </div>

                <div class="col-lg-4 py-5">
                    <h4 class="font-weight-bold mb-3">Contacto:</h4>
                    <p>Correo Electónico: avellanas@gmail.com</p>
                    <h4 class="font-weight-bold mb-3">Estamos ubicados en:</h4>
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Alajuela:</h5>
                    <p>Restaurante Avellanas A / Teléfono: 2460-0001</p>
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Heredia</h5>
                    <p>Restaurante Avellanas B / Teléfono: 2460-0002</p>
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>San José</h5>
                    <p>Restaurante Avellanas C / Teléfono: 2460-0003</p>

                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>San Carlos:</h5>
                    <p>Restaurante Avellanas D / Teléfono: 2460-0004</p>
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Cartago</h5>
                    <p>Restaurante Avellanas E / Teléfono: 2460-0005</p>
                    <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Puntarenas</h5>
                    <p>Restaurante Avellanas F / Teléfono: 2460-0006</p>
                </div>
            </div>
        </div>
    </div>
</body>